<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Favorite Links</h1>
            <h3 class="mb-5">
                {{#if user}}
                <em>Welcome {{ user.fullname }}</em>
                {{else}}
                <em>Store your favorite Website's Links</em>
                {{/if}}
            </h3>
            {{#if user}}
            <a class="btn btn-primary btn-lg" href="/profile">
                Go to Profile
            </a>
            {{else}}
            <a class="btn btn-primary btn-lg" href="/signin">
                Let's get started
            </a>
            {{/if}}
        </div>
        <div class="overlay"></div>
    </header>
</main>